.a{
    color:blue;
    border:9px solid blue;
    height:40px;
    width:200px;
    border-radius:100px;
    background-color: aqua;
    text-align: center;
}
h2{
    color: black;
    text-decoration: underline;
}
body{
    background-color:lightcoral;
}
img{
    height: 200px;
    width:200px;
    border:3px solid black;
    margin-left: 200px;
}
nav{
    background-color: blanchedalmond;
    text-align: left;
    padding:5px;
    
}
a:hover{
    color:red;
}
h1{
    text-align: center;
}
